<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Apriori Capacity Overload</title>
	<link th:href="@{/css/headerFooterStyle.css}" rel="stylesheet" />
	<link rel = "icon" th:href ="@{img/jku16x16.png}" type = "image/x-icon">
</head>

<body>

	<th:block th:insert="fragments/headerFooter :: header('Capacity Overload')"/>
	
	<h3> The eTutor++ Apriori Extension is currently running at full capacity. Please try later. </h3>
	
		
	<th:block th:insert="fragments/headerFooter :: footer"/>

</body>
    
</html>